header a.nav-brand
{
    font-size: 3em;
    font-variant: small-caps;
    font-weight: bold;
    color: #1004a7;
}


a.add-song
{
        background: #1004a7;
    color: #00d1fb;
    font-size: 2.6em;
    border-radius: 3px;
    padding: 10px;
    position: absolute;
    right: 0px;
    top: 3px;
}

header
{
    position: relative;
}