#search-container
{
    margin-top: 15px;
    margin-bottom: 15px;
}

input[name='search']
{
    font-size: 2.5em;
    height: 50px;
    color: #1004a7;
}

.input-group .input-group-addon
{
    font-size: 2.5em;
    background-color: #a30;
    color: #fff;
    cursor: pointer;
}


.list-group-item
{
    font-size: 1.2em;
    height: 50px;
    color: #17b7d7;
    margin-top: 7px;
}

.key-div .badge
{
        background-color: #17b7d7;
    
}

.glyphicon-trash
{
        color: #aa3300;
    cursor: pointer;
    right: 15px;
    position: absolute;
}